.text-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px){
        flex-wrap: wrap;
    }

    .text {
        width: calc(55% - 40px);

        @media (max-width: 768px){
            width: 80%;
        }

        @media (max-width: 479px){
            width: 100%;
        }

        h2 {
            margin-bottom: 0.3em;
        }

        p:first-of-type {
            margin-bottom: 1.8em;
        }

        .button {
            display: inline-block;
            border: 2px solid $black;
            margin-top: 40px;
            transition: 250ms ease-in;

            &:hover {
                background-color: transparent;
                color: $black;
            }
        }
    }

    .image {
        display: flex;
        justify-content: center;
        width: calc(45% - 40px);

        @media (max-width: 768px){
            justify-content: left;
            width: 100%;
            margin-top: 40px;
        }
 
        @media (max-width: 479px){
            justify-content: center;
            width: 100%;
        }

        img {
            max-width: 350px;
            width: 100%;
            border-radius: 25px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);

            @media (max-width: 479px){
                max-width: 100%;
            }
        }
    }
}